!.gitignore
.env*

.jwt

execution/geth/*
!execution/geth/clef
execution/besu/*
execution/nethermind/*
consensus/lighthouse/*
consensus/nimbus/*
secrets/*

keystores/lighthouse/*
keystores/nimbus/*

docker-compose.yml

env
logs