!.gitignore
.env*

.jwt

execution/geth/*
!execution/geth/clef
execution/besu/*
execution/nethermind/*
consensus/lighthouse/*
consensus/nimbus/*
secrets/*

!secrets/.gitignore
!execution/geth/.gitignore
!execution/geth/clef/.gitignore
!execution/besu/.gitignore
!execution/nethermind/.gitignore
!consensus/lighthouse/.gitignore
!consensus/nimbus/.gitignore

keystores/lighthouse/*
keystores/nimbus/*

!keystores/lighthouse/.gitignore
!keystores/nimbus/.gitignore

docker-compose.yml

env
logs